@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background-color: hsl(185, 41%, 84%);
}
header > h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: hsl(186, 14%, 43%);
    text-align: center;
    padding-block: 1em;
    margin-top: 5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.card {
    background-color: hsl(0, 0%, 100%);;
    padding: 2em;
    border-radius: 1.5em;
    box-shadow: 0 30px 80px 10px hsla(0, 0%, 0%, 0.2);
}

.input {
    display: flex;
    margin-bottom: 1em;
}

.input__text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.input_group > input {
    padding: 0.4em;
    border-radius: 0.25em;
    border: 2px solid hsl(172, 67%, 55%);
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
}

.input_group > input:focus {
    outline-color: hsl(40, 85%, 50%);
}

.input_group > label {
    min-width: 2.5em;
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(184, 14%, 56%);
}

.input__button {
    margin-left: 1rem;
    padding: 0.5em;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 1.4rem;
    border-radius: 0.25em;
    border: none;
    cursor: pointer;
}

.input__button:hover{
    background: hsl(172, 67%, 55%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
    appearance: textfield;
}

::selection {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    border-radius: 0.7em;
    color: hsl(172, 67%, 45%);
    background: hsl(183, 100%, 15%);
}

.output__title {
    background-color: var(--very-dark-cyan);
    color: hsl(0, 0%, 100%);
    border-radius: 1em;
    position: relative;
}

.output > #result {
    font-size: 2rem;
    font-weight: 700;
}

.attribution {
    font-size: 0.7rem;
    margin: 1rem 0;
    color: hsl(186, 14%, 43%);
}
a {
    color: hsl(183, 100%, 15%);
}
a:hover {
    color: hsl(183, 100%, 22%);
}


@media screen and (max-width: 650px) {
    .input {
        flex-direction: column;
    }
    .input__button {
        margin-top: 1rem;
        margin-left: 0;
    }
    .output {
        flex-direction: column;
        align-items: flex-start;
    }
}